<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HSDT.pos.persistance.mapper.IManagerMapper">

    <!-- 회원가입 (회원정보 등록) -->
    <insert id="InsertManager" parameterType="HSDT.pos.dto.ManagerDTO">
            INSERT INTO user_tb
                (
                 id,
                 pw,
                 user_name
                )
            VALUES(
                   #{id},
                   #{pw},
                   #{user_name}
                  )
    </insert>

    <!-- 로그인 시 아이디 비밀번호 일치 확인 -->
    <select id="getManagerLoginCheck" parameterType="HSDT.pos.dto.ManagerDTO" resultType="HSDT.pos.dto.ManagerDTO">
        SELECT id, pw, user_name
        FROM user_tb
        WHERE id = #{id}
        AND pw = #{pw}
    </select>


    <!-- 회원탈퇴 -->
    <delete id="deleteManager" parameterType="HSDT.pos.dto.ManagerDTO">
            DELETE FROM user_tb
            WHERE id = #{id}
    </delete>

    <!-- 회원정보 수정 -->
    <update id="updateManager" parameterType="HSDT.pos.dto.ManagerDTO">
        UPDATE user_tb SET
            user_name = #{user_name}
        WHERE
            id = #{id}
    </update>

</mapper>